name: Development
on:
  schedule:
    - cron: '0 0 * * *'
  push:
    branches:
      - dev
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  container:
    name: Release Dev Container

    if: github.event.schedule == '0 0 * * *' || github.event_name == 'workflow_dispatch' || github.event_name == 'push'

    runs-on: ubuntu-latest

    steps:

      -
        name: Checkout
        uses: actions/checkout@v3

      -
        name: Login to Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      -
        name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2.9.0

      -
        name: Extract Metadata
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            dev

      -
        name: Build and Push Docker Image
        id: build-and-push
        uses: docker/build-push-action@v4
        with:
          platforms: linux/amd64
          context: ./app
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
